html, body {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
}

a {
	color: #009FDA;
	text-decoration: none;
}
a:hover {
	color: #00BAFF;
}

.landing {
	height: 100%;
}

.col-signin {
	height: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

.col-info {
	background-color: #333;
	color: #fff;
}

.col-signin h4 span {
	font-weight: 400;
	font-size: 75%;
	line-height: 1.7;
	float: right;
}

.signin-box, .signup-box, .forgot-box {
	padding-top: 32px;
}

.signup-box, .forgot-box {
	display: none;
}

/* Profile */
h2.profile-header {
	position: relative;
}

h2.profile-header small {
	position: absolute;
	right: 0;
	bottom: 0;
}

@media (min-width: 1200px) {
	.col-signin, .col-info {
		position: relative;
	}

	.col-signin {
		width: 400px;
		height: 100%;
		float: left;
	}

	.col-info {
		margin-left: 400px;
		height: 100%;
	}
}

.progress-bar.active, .progress.active .progress-bar {
	-webkit-animation: progress-bar-stripes 250ms linear infinite;
	-o-animation: progress-bar-stripes 250ms linear infinite;
	animation: progress-bar-stripes 250ms linear infinite;
}

#customBtn {
	display: inline-block;
	background: #dd4b39;
	color: white;
	width: 165px;
	border-radius: 5px;
	white-space: nowrap;
}
#customBtn:hover {
	background: #e74b37;
	cursor: hand;
}
span.label {
	font-weight: bold;
}
span.icon {
	background: url('/+/images/branding/btn_red_32.png') transparent 5px 50% no-repeat;
	display: inline-block;
	vertical-align: middle;
	width: 35px;
	height: 35px;
	border-right: #bb3f30 1px solid;
}
span.buttonText {
	display: inline-block;
	vertical-align: middle;
	padding-left: 35px;
	padding-right: 35px;
	font-size: 14px;
	font-weight: bold;
	/* Use the Roboto font that is loaded in the <head> */
	font-family: 'Roboto',arial,sans-serif;
}
