{{define "header"}}<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="theme-color" content="#33c8db">

		<title>tie.rs - Ingress Agent Profile</title>

		<link href="/css/app.min.css?1" rel="stylesheet">

		<script async src='//www.google-analytics.com/analytics.js'></script>
		<script>
			window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;

			ga('create', 'UA-57892068-2', 'auto');
			ga('send', 'pageview');
		</script>
	</head>

	<body>
{{end}}
