{{define "nav"}}
		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">tie.rs</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						{{if .User}}
						<li class=""><a href="/progress">Progress</a></li>
						{{end}}
					</ul>

					<ul class="nav navbar-nav navbar-right">
						{{if .User}}
						<li><a href="/upload">Upload</a></li>
						<li><a href="/logout">Sign out</a></li>
						{{end}}
					</ul>
				</div>
			</div>
		</nav>

		<div class="container container-main">
{{end}}
