{{define "progress"}}{{template "header"}}
{{template "nav" .}}
				<h2>Next level</h2>

				{{if .Warning}}
				<p class="bg-warning">{{.Warning}}</p>
				{{else}}
				<table class="table">
					<colgroup>
						<col class="col-md-4">
						<col class="col-md-4">
						<col class="col-md-4">
					</colgroup>
					<tbody>
					{{if .AP.Expected}}
					<tr>
						<td>AP {{.AP.Missing | comma}}</td>
						<td class="text-center">{{.AP.Current | comma}} / <strong>{{.AP.Required | comma}}</strong></td>
						<td class="text-right">{{.AP.Expected}}</td>
					</tr>
					{{end}}

					{{range .Badges}}
					<tr>
						<td>{{.RankName}} {{.Badge}}</td>
						<td class="text-center">{{.Current | comma}} / <strong>{{.Required | comma}}</strong></td>
						<td class="text-right">{{.Expected}}</td>
					</tr>
					{{end}}
					</tbody>
				</table>
				{{end}}
{{template "footer" . }}
{{end}}
