{{define "upload"}}{{template "header"}}
{{template "nav" .}}
			<div class="row">
				<div class="col-md-6 col-md-push-6">
					<h3>Upload</h3>
					<div class="well well-sm well-upload">
						<form role="form" class="form-upload" method="post" action="/upload" enctype="multipart/form-data">
							<div class="form-group">
								<label>Profile screenshot</label>
								<input type="file" name="profile[]" accept=".png">
							</div>

							<div class="row">
								<div class="col-xs-12 col-sm-3">
									<button type="submit" class="btn btn-primary btn-block">Upload</button>
								</div>
							</div>
						</form>
					</div>

					<div class="progress hide">
						<div class="progress-bar progress-bar-striped active"  role="progressbar">
						</div>
					</div>

					<div class="alert hide" role="alert">
					</div>

					<p>
						This sadly doesn't work with the stock Android browser on most
						devices. Use Chrome/Firefox or some other browser for now.
					</p>
				</div>

				<div class="col-md-6 col-md-pull-6">
					<h3>How to</h3>
					<div class="panel-group howto">
						<div class="panel panel-success">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent=".howto" href="#howto-android">
										Android
									</a>
								</h4>
							</div>

							<div id="howto-android" class="panel-collapse collapse">
								<div class="panel-body">
									<div class="panels-stacked">
										<div class="panel panel-default">
											<div class="panel-heading">1. Create a full agent profile screenshot</div>
											<div class="panel-body">
												<img class="img-responsive" src="images/how/1.png" />
											</div>
										</div>

										<div class="panel panel-default">
											<div class="panel-heading">2. Wait patiently</div>
											<div class="panel-body">
												<img class="img-responsive" src="images/how/2.png" />
											</div>
										</div>

										<div class="panel panel-default">
											<div class="panel-heading">3. Cancel share dialog with back button</div>
											<div class="panel-body">
												<img class="img-responsive" src="images/how/3-android.png" />
											</div>
										</div>

										<div class="panel panel-default">
											<div class="panel-heading">4. Click <mark>Choose File</mark><span class="visible-xs-inline"> above</span>, locate the screenshot on your device and upload</div>
											<div class="panel-body">
												<img class="img-responsive" src="images/how/4-android.png" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="panel panel-info">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent=".howto" href="#howto-ios">
										iOS
									</a>
								</h4>
							</div>

							<div id="howto-ios" class="panel-collapse collapse">
								<div class="panel-body">
									<div class="panels-stacked">
										<div class="panel panel-default">
											<div class="panel-heading">1. Create a full agent profile screenshot</div>
											<div class="panel-body">
												<img class="img-responsive" src="images/how/1.png" />
											</div>
										</div>

										<div class="panel panel-default">
											<div class="panel-heading">2. Wait patiently</div>
											<div class="panel-body">
												<img class="img-responsive" src="images/how/2.png" />
											</div>
										</div>

										<div class="panel panel-default">
											<div class="panel-heading">3. Click <mark>Other</mark></div>
											<div class="panel-body">
												<img class="img-responsive" src="images/how/3-iOS.png" />
											</div>
										</div>

										<div class="panel panel-default">
											<div class="panel-heading">4. Click <mark>Save Image</mark>, then click <mark>Choose File</mark><span class="visible-xs-inline"> above</span>, locate the screenshot on your device and upload</div>
											<div class="panel-body">
												<img class="img-responsive" src="images/how/4-iOS.png" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

						<!--
					</div>
				</div>
						-->
			</div>
{{template "footer"}}
{{end}}
