{{define "upload"}}{{template "header"}}
{{template "nav" .}}
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="well well-sm well-upload">
						<form role="form" class="form-upload" method="post" action="/upload" enctype="multipart/form-data">
							<div class="form-group">
								<label>Agent profile screenshot</label>
								<input type="file" name="profile[]" accept=".png">
							</div>

							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>

					<div class="progress hide">
						<div class="progress-bar progress-bar-striped active"  role="progressbar">
						</div>
					</div>

					<div class="alert hide" role="alert">
					</div>

					<p>
						This sadly doesn't work with the stock Android browser on most
						devices. Use Chrome/Firefox or some other browser for now.
					</p>
				</div>
			</div>
{{template "footer"}}
{{end}}
