{{define "upload"}}{{template "header"}}
{{template "nav" .}}
			<div class="row">
				<div class="col-md-6 col-md-push-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Upload profile screenshot</h3>
						</div>
						<div class="panel-body">
							<form role="form" class="form-upload" method="post" action="/upload" enctype="multipart/form-data">
								<div class="form-group">
									<input type="file" name="profile[]" accept="image/">
								</div>

								<div class="row">
									<div class="col-xs-12 col-sm-3">
										<button type="submit" class="btn btn-primary btn-block">Upload</button>
									</div>
								</div>
							</form>

							<div class="progress hide">
								<div class="progress-bar progress-bar-striped active"  role="progressbar">
								</div>
							</div>

							<div class="alert hide" role="alert">
							</div>

							<p>
								This sadly doesn't work with the stock Android browser on most
								devices. Use Chrome/Firefox or some other browser for now.
							</p>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-md-pull-6">
					<div class="panel-group howto">
						<div class="panel panel-success">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent=".howto" href="#howto-android">
										How to: Android
									</a>
								</h4>
							</div>

							<div id="howto-android" class="panel-collapse collapse">
								<div class="panel-body">
									<div class="panels-stacked">
										<div class="panel panel-default">
											<div class="panel-heading">1. Create a full agent profile screenshot</div>
											<div class="panel-body">
												<img class="img-responsive" src="images/how/1.png" />
											</div>
										</div>

										<div class="panel panel-default">
											<div class="panel-heading">2. Wait patiently</div>
											<div class="panel-body">
												<img class="img-responsive" src="images/how/2.png" />
											</div>
										</div>

										<div class="panel panel-default">
											<div class="panel-heading">3. Cancel share dialog with back button</div>
											<div class="panel-body">
												<img class="img-responsive" src="images/how/3-android.png" />
											</div>
										</div>

										<div class="panel panel-default">
											<div class="panel-heading">4. Click <mark>Choose File</mark><span class="visible-xs-inline"> above</span>, locate the screenshot on your device and upload</div>
											<div class="panel-body">
												<img class="img-responsive" src="images/how/4-android.png" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="panel panel-info">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent=".howto" href="#howto-ios">
										How to: iOS
									</a>
								</h4>
							</div>

							<div id="howto-ios" class="panel-collapse collapse">
								<div class="panel-body">
									<div class="panels-stacked">
										<div class="panel panel-default">
											<div class="panel-heading">1. Create a full agent profile screenshot</div>
											<div class="panel-body">
												<img class="img-responsive" src="images/how/1.png" />
											</div>
										</div>

										<div class="panel panel-default">
											<div class="panel-heading">2. Wait patiently</div>
											<div class="panel-body">
												<img class="img-responsive" src="images/how/2.png" />
											</div>
										</div>

										<div class="panel panel-default">
											<div class="panel-heading">3. Click <mark>Other</mark></div>
											<div class="panel-body">
												<img class="img-responsive" src="images/how/3-iOS.png" />
											</div>
										</div>

										<div class="panel panel-default">
											<div class="panel-heading">4. Click <mark>Save Image</mark>, then click <mark>Choose File</mark><span class="visible-xs-inline"> above</span>, locate the screenshot on your device and upload</div>
											<div class="panel-body">
												<img class="img-responsive" src="images/how/4-iOS.png" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

						<!--
					</div>
				</div>
						-->
			</div>
{{template "footer"}}
{{end}}
